{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
	<title>Personal Portfolio Website</title>
	<link rel="stylesheet" type="text/css" href="{% static 'pages/css/style.css' %}">
	<script src="https://kit.fontawesome.com/28d25f280a.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	
	

</head>
<body>
	<!-- Header Section -->
	<div class="scroll-up-btn">
		<i class="fas fa-angle-up"></i>
	</div>


	<nav class="navbar">
		<div class="max-width">
			<div class="logo"><a href="#">Portfo<span>lio.</span></a></div>
			<ul class="menu">
				<li><a href="/home" class="menu-btn">Home</a></li>
				<li><a href="/services" class="menu-btn">Services</a></li>
				<li><a href="/skills" class="menu-btn">Skills</a></li>
				<li><a href="/projects" class="menu-btn">Projects</a></li>
				<li><a href="/contacts" class="menu-btn">Contact</a></li>
			</ul>
			<div class="menu-btn">
				<i class="fas fa-bars"></i>
			</div>
	</nav>

	<!-- Home Section -->

	{% block page_home %}{% endblock page_home %}
	
	<!-- Services Section -->

	{% block services %}{% endblock services %}

	<!-- Skills section-->

	{% block skills %}{% endblock skills %}
	
	<!-- projects section -->

	{% block projects %}{% endblock projects %}

	<!-- Contact section -->

	{% block contacts %}{% endblock contacts %}

	<!-- Footer Section-->

	<footer>
		<span>Created By <a href="#">Christopher Ortiz</a> | <span class="far fa-copyright">2021 All rights reserved.</span></span>
	</footer>




	<script src="{% static 'pages/js/script.js' %}"></script>
</body>
</html>