{% extends "pages/base.html" %}
{% block contacts %}


<!-- Contact Section start -->

	<section class="contact" id="contact">
		<div class="max-width">
			<h2 class="title">Contact me</h2>
			<div class="contact-content">
				<div class="column left">
					<div class="text">Get in Touch</div>
					<p>lorem ipsum hehehheehehhehehehe</p>
					<div class="row">
						<i class="fas fa-user"></i>
						<div class="info">
							<div class="head">Name</div>
							<div class="sub-title">Christopher Ortiz</div>
						</div>
					</div>


					<div class="row">
						<i class="fas fa-map-marker-alt"></i>
						<div class="info">
							<div class="head">Address</div>
							<div class="sub-title">Guayaquil, Ecuador</div>
						</div>
					</div>

					<div class="row">
						<i class="fab fa-twitter"></i>
						<div class="info">
							<div class="head">Twitter</div>
							<div class="sub-title">@cerwin_ortiz</div>
						</div>
					</div>

				</div>

				<div class="column right">
					<div class="message-sent">Message sent succesfully</div>
				</div>

			</div>
		</div>
	</section>

{% endblock contacts %}