{% extends "pages/base.html" %}
{% load static %}

{% block page_home %}

<section class="home" id="home">
		<div class="max-width">
			<div class="home-content">
				<div class="text-1">Hello, my name is</div>
				<div class="text-2">Christopher Ortiz</div>
				<div class="text-3">And I'm <span class="Engineer">an Engineer</span></div>
				<a href="/contacts">Contact me</a>

			</div>
			
		</div>
	</section>

<!-- About Section Start -->

	<section class="about" id="about">
		<div class="max-width">
			<h2 class="title">About me</h2>
			<div class="about-content">
				<div class="column left">
					<img src=" {% static 'pages/images/perfil.jpg' %}" alt="">
				</div>
				<div class="column right">
					<div class="text">I'm Christopher and I'm <span class="typing-2">an Engineer</span></div>
					<p>I'm a telecom engineer turned cybersecurity engineer interesed in ethical hacking and web security. Right now I continue improving my skills on CTF platforms and learning programming languages to develop scripting capabilities.
Skills: CCNA, Python, Javascript, Ethical Hacking </p>
					<a style="font-size: 18px;" href="https://www.linkedin.com/in/ceortiz-p
">Linked<i style="font-size:25px; margin-left: 2px;" class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</section>		



{% endblock page_home %}