{% extends "pages/base.html" %}
{% load static %}
{% block projects %}

<!-- projects Section start -->
	<section class="teams" id="teams">
		<div class="max-width">
			<h2 class="title">Projects</h2>

			<div style="overflow-x:auto;">
				<table class="table">
					<thead>
						<th>Title</th>
						<th>Description</th>
						<th>Language</th>
						<th>Created at</th>
						<th>Size</th>
						<th>Stars</th>
					</thead>
					<tbody>
						{% for project in allProjects %}
						<tr>
							<td><a class="no-color" href="{{project.Urls}}">{{project.Title}}</a></td>
							<td>{{project.Description}}</td>
							<td>{{project.Language}}</td>
							<td>{{project.Createdat}}</td>
							<td>{{project.Size}}</td>
							<td>{{project.Stars}}</td>
						<tr>
						{% endfor %}
					</tbody>
				
				</table>
		</div>
	</section>
{% endblock projects %}